.sideMenuDua{
    position: fixed;
    background: #043b3b;
    width: 200px;
    height: 100%;
}


.menuItem{
    margin-left: 10px;
    padding: 10px 0px 10px 0px;
    color: #00908e;
}
.menuItem:hover{
    color: #00908e;
    background-color: #044444;
}

.menuIcon{
    display: inline-block;
    margin-right: 8px;
}

.activeNav{
    color: #e0d2b4;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}