@import url('https://fonts.googleapis.com/css2?family=El+Messiri');
body {
  margin: 0;
  font-family: 'El Messiri';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('Images/bg.png');
  background-attachment: fixed;
}

code {
  font-family: 'El Messiri';
}

@fontface {
  font-family: 'El Messiri', cursive;
  src: url('https://fonts.googleapis.com/css2?family=El+Messiri');
}
