.bdy{
  overflow: hidden;
}
.headerDiv{
  font-family: 'El Messiri';
  background-color:rgba(0, 0, 0, 0.6);
}

.quranAyah{
  margin: 10px;
  color: #e0d2b4;
  font-size: 25px;
  font-family: 'El Messiri';
  display: inline-block;
  width: 60%;
}

.carousel-control-prev{
  display: none;
}

.carousel-control-next{
  display: none;
}

.salahTime{
  color: rgb(168, 223, 215);
  font-size: 40px;
  font-family: 'El Messiri';
  float: right;
  padding: 60px;
  width: 35%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  box-shadow: 40px 40px 40px rgba(0, 0, 0, 0);
}

.quranAyah{
  margin: 10px;
  color: #e0d2b4;
  font-size: 25px;
  font-family: 'El Messiri';
  display: inline-block;
  width: 60%;
}

.hadith{
  font-size: 20px;
  font-family: 'El Messiri';
  width: fit-content;
  padding: 2px;
  margin: 10px;
}

.container2{
  width: fit-content;
}

#btnHadithofDay{
  background-color: #105f5e;
  border: #00908e;
  color:#e0d2b4;
  border-radius: 5px;
  padding: 5px;
}

#navbarDropdownMenuLink::after {
  display:none;
}

.dropdown-menu-right{
  background-color: #e0d2b4;
  text-transform: capitalize;
  font-family: 'El Messiri';
  overflow:auto;
  width: 20px;
}

.dropdown-item:hover{
  background-color: #caba93;
  cursor: pointer;
}

.toggle-nav{
  position: fixed;
  right: 15px;
  top: 15px;
  
}

@media screen and (max-width: 500px) {
.salahTime{
  padding: 20px;
  font-size: 15px;
  width: 30%;
}
.quranAyah{
  font-size: 15px;
}
.hadith{
  font-size: 15px;
}
}