.sideMenuDua{
    position: fixed;
    background: #044444;
    width: 15%;
    height: 100%;
    display: inline-block;
    font-family: 'El Messiri';
}


.menuItem{
    margin-left: 10px;
    padding: 10px 0px 10px 0px;
    color: #00908e;
}
.menuItem:hover{
    background-color: #044444;
    color: #00908e;
}

.menuIcon{
    display: inline-block;
    margin-right: 8px;
}

.activeNav{
    color: #e0d2b4;
}
.activeNav:hover{
    color: #e0d2b4;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.emotionBox{
    background-color: rgba(0, 144, 142, .6);
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    border: 4px;
    border-style: solid;
    border-color: rgb(168, 223, 215);
    font-family: 'El Messiri';
    padding: 20px;
}

.rightDiv{
    width: 85%;
    float:right;
    align-items: center;
    justify-content: center;
}

.searchButton{
    background-color: #e0d2b4;
    color: #044444;
    border: #044444;
    font-family: 'El Messiri';
    font-weight: bold;
    font-size: 1.5rem;
}
.searchButton:hover{
    background-color: #ad976a;
    color: #044444;
}

.searchButtonDiv{
    align-self:flex-end;
    width: fit-content;
    margin: 50px auto;

}

h1{
    color: rgb(168, 223, 215);
}

h2{
    color: #e0d2b4;
}
.likes{
    font-size: 15px;
    color: #e0d2b4;
    margin-top: 40px;
}


