.headerDiv{
  background-image: url('../../Images/AL-Aqsa.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: 100% 100%;
    height: 450px;
  }

  .navBar{
    background-color:rgbA(0,0,0,0.6);
  }