.forumHeader {
  font-family: "El Messiri";
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: inline;
  background-color: rgba(0, 0, 0, 0.6);
}

.forumbox {
  background: rgba(0, 0, 0, 0.3);
  width: 50%;
  display: inline-block;
  color: #e0d2b4;
  border: 4px;
  border-style: solid;
  border-color: rgb(168, 223, 215);
  font-family: "El Messiri";
  padding: 20px;
}

#forumbox2 {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: inline-block;
  color: #e0d2b4;
  border: 4px;
  border-style: solid;
  border-color: rgb(168, 223, 215);
  font-family: "El Messiri";
  padding: 20px;
}

  .menuIcon{
    display: inline-block;
    margin-right: 8px;
}

.likes{
    font-size: 15px;
    color: #e0d2b4;
    margin-top: 40px;
}

.menuIcon{
    display: inline-block;
    margin-right: 8px;
}

.forumTimeAndAuthor
{
    color: #e0d2b4;
    font-size: 12px;
    margin-top: 5px;
}

h3{
    color: #e0d2b4;
    font-size: 20px;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
.forumBox{
    background-color: rgba(3, 51, 51, 0.5);
    width: 70%;
    justify-content: center;
    text-align: center;
    border: 4px;
    border-style: solid;
    border-color: rgb(168, 223, 215);
    font-family: 'El Messiri';
    padding: 20px;
}

.forumTimeAndAuthor{
    color: #e0d2b4;
    font-size: 12px;
    margin-top: 30px;
}

.forumDescription{
    background-color: rgba(224, 210, 180, .2);
    font-size: 23px;
    color: rgb(168, 223, 215);
    padding: 5px;
    margin-top: 30px;
}

.english{
    background-color: rgba(224, 210, 180, .2);
    font-size: 23px;
    color: rgb(168, 223, 215);
    padding: 5px;
    margin-top: 30px;
}

.likes{
    font-size: 15px;
    color: #e0d2b4;
    margin-top: 40px;
}
}

.postdiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.createpostdiv{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#postbtn,
#postbtn:visited {
  background-color: #e0d2b4;
  color: #044444;
  border: #044444;
  font-family: "El Messiri";
  font-weight: bold;
  font-size: 1.2rem;
  width: fit-content;
  float: right;
}
#postbtn:hover {
  background-color: #ad976a;
  color: #044444;
  border: #044444;
}
#postbtn:focus,
#postbtn:focus-visible,
#postbtn:checked {
  background-color: #e0d2b4;
  color: #044444;
  border: #044444;
}

#postbox{
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
  font-family: 'El Messiri';
  width:50%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#postbox:hover{
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
}
#postbox:focus, #postbox:focus-visible, #postbox:checked {
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
}

#postdrop{
  background-color: rgba(168, 223, 215,0.9);
  font-family: 'El Messiri';
  max-height:fit-content;
  overflow:auto;
  width: 50%;
}

#commentbtn{
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
  font-family: 'El Messiri';
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  display: inline;
  float: right;
  justify-content: center;
}

#commentbtn:hover{
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
}

#commentbtn:focus, #commentbtn:focus-visible, #commentbtn:checked {
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
}

.commentbox{
  display: none;
}

.fas{
  letter-spacing: 15px;
  color: #00908e;
}

.far{
  letter-spacing: 15px;
}
