.taskBox{
    background: rgba(0, 0, 0, 0.3);
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'El Messiri';
    padding: 20px;
}

.taskBox:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
}
.taskCheckBox{
    color: aquamarine;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-top: 2px;
}
.taskText{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    background: none;
    border: none;
    width: fit-content;
    outline: none;
    color: #e0d2b4;
}

.addBtn{
    color: #647c73;
    margin-left: 20px;
}
.addBtn:hover{
    color: #647c73;
}

.newBtn{
    color: #e0d2b4;
    margin: 0 auto;
    font-family: 'El Messiri';
    cursor: pointer;
    margin-top: 10px;
    margin-left: 170px;
    width: fit-content;
}
.newIcon{
    display: inline-block;
    margin-right: 8px;
}
.taskIcon{
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}
.taskIcons{
    display: inline-block;
    float: right;
}
.inputBoxHide{
    background: rgba(0, 0, 0, 0.3);
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'El Messiri';
    padding: 20px;
    display: none;
}
.inputBoxShow{
    background: rgba(0, 0, 0, 0.3);
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'El Messiri';
    padding: 20px;
    display: block;
}
#taskInput{
    background: none;
    border: none;
    width: 100%;
    outline: none;
    font-size: 20px;
    color: #e0d2b4;
}
::placeholder { 
    color: #e0d2b4;
    opacity: 1; 
  }
  
