@media only screen and (min-width: 768px) {
  .searchIcon {
    cursor: pointer;
  }
.forumbox {
  background: rgba(0, 0, 0, 0.3);
  width: 50%;
  display: inline-block;
  color: #e0d2b4;
  border: 4px;
  border-style: solid;
  border-color: rgb(168, 223, 215);
  font-family: "El Messiri";
  padding: 20px;
}

.forumContent{
  margin-bottom: 60px;
}
#forumbox2 {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: inline-block;
  color: #e0d2b4;
  border: 4px;
  border-style: solid;
  border-color: rgb(168, 223, 215);
  font-family: "El Messiri";
  padding: 20px;
}

  .menuIcon{
    display: inline-block;
    margin-right: 8px;
}

.likes{
    font-size: 15px;
    color: #e0d2b4;
    margin-top: 40px;
}

.menuIcon{
    display: inline-block;
    margin-right: 8px;
}

.forumTimeAndAuthor
{
    color: #e0d2b4;
    font-size: 12px;
    margin-top: 5px;
    display: 'inline-block';
}

h3{
    color: #e0d2b4;
    font-size: 18px;
    margin-top: 5px;
}

.postdiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.createpostdiv{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#postbtn,
#postbtn:visited {
  background-color: #e0d2b4;
  color: #044444;
  border: #044444;
  font-family: "El Messiri";
  font-weight: bold;
  font-size: 1.2rem;
  width: fit-content;
  float: right;
}
#postbtn:hover {
  background-color: #ad976a;
  color: #044444;
  border: #044444;
}
#postbtn:focus,
#postbtn:focus-visible,
#postbtn:checked {
  background-color: #e0d2b4;
  color: #044444;
  border: #044444;
}

#postbox{
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
  font-family: 'El Messiri';
  width:50%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#searchForum{
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
  margin: 0 auto;
}
.searchDiv {
  width: 50%;
  margin: 0 auto;
}
#postbox:hover{
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
}
#postbox:focus, #postbox:focus-visible, #postbox:checked {
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
}

#postdrop{
  background-color: rgba(168, 223, 215,0.9);
  font-family: 'El Messiri';
  max-height:fit-content;
  overflow:auto;
  width: 50%;
}

.commentbtn{
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
  font-family: 'El Messiri';
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  display: inline;
  float: right;
  justify-content: center;
}

.commentbtn:hover{
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
}

.commentbtn:focus, .commentbtn:focus-visible, .commentbtn:checked {
  background: rgba(0, 0, 0, 0.3);
  color: #e0d2b4;
  border-color: rgb(168, 223, 215);
}

.commentbox{
  display: none;
}

.fas{
  letter-spacing: 15px;
  color: #00908e;
}

.far{
  letter-spacing: 15px;
}

.posttitle{
  display: inline-block;
}

.input-group-text{
  background-color: inherit;
  color: #e0d2b4;
}
}

@media only screen and (max-width: 900px) and (min-width: 700px){
  .searchIcon {
    cursor: pointer;
  }
  .forumContent{
    margin-bottom: 60px;
  }
  .commentAuthor {
    font-size: 15px;
  }
  .forumbox {
    background: rgba(0, 0, 0, 0.3);
    width: 50%;
    display: inline-block;
    color: #e0d2b4;
    border: 4px;
    border-style: solid;
    border-color: rgb(168, 223, 215);
    font-family: "El Messiri";
    padding: 20px;
  }
  .searchDiv {
    width: 50%;
    margin: 0 auto;
  }
  
  #forumbox2 {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: inline-block;
    color: #e0d2b4;
    border: 4px;
    border-style: solid;
    border-color: rgb(168, 223, 215);
    font-family: "El Messiri";
    padding: 20px;
  }
  
    .menuIcon{
      display: inline-block;
      margin-right: 8px;
  }
  
  .likes{
      font-size: 15px;
      color: #e0d2b4;
      margin-top: 40px;
  }
  
  .menuIcon{
      display: inline-block;
      margin-right: 8px;
  }
  
  .forumTimeAndAuthor
  {
      color: #e0d2b4;
      font-size: 12px;
      margin-top: 5px;
      display: 'inline-block';
  }
  
  h3{
      color: #e0d2b4;
      font-size: 18px;
      margin-top: 5px;
  }
  
  .postdiv{
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }
  
  .createpostdiv{
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  #postbtn,
  #postbtn:visited {
    background-color: #e0d2b4;
    color: #044444;
    border: #044444;
    font-family: "El Messiri";
    font-weight: bold;
    font-size: 1.2rem;
    width: fit-content;
    float: right;
  }
  #postbtn:hover {
    background-color: #ad976a;
    color: #044444;
    border: #044444;
  }
  #postbtn:focus,
  #postbtn:focus-visible,
  #postbtn:checked {
    background-color: #e0d2b4;
    color: #044444;
    border: #044444;
  }
  
  #postbox{
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
    font-family: 'El Messiri';
    width:50%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  #postbox:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
  }
  #postbox:focus, #postbox:focus-visible, #postbox:checked {
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
  }
  
  #postdrop{
    background-color: rgba(168, 223, 215,0.9);
    font-family: 'El Messiri';
    max-height:fit-content;
    overflow:auto;
    width: 50%;
  }
  
  .commentbtn{
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
    font-family: 'El Messiri';
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    display: inline;
    float: right;
    justify-content: center;
  }
  
  .commentbtn:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
  }
  
  .commentbtn:focus, .commentbtn:focus-visible, .commentbtn:checked {
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
  }
  
  .commentbox{
    display: none;
  }
  
  .fas{
    letter-spacing: 15px;
    color: #00908e;
  }
  
  .far{
    letter-spacing: 15px;
  }
  
  .posttitle{
    display: inline-block;
  }
  
  .input-group-text{
    background-color: inherit;
    color: #e0d2b4;
  }
}

@media screen and (max-width: 699px) {
  .searchIcon {
    cursor: pointer;
  }
  .forumContent{
    margin-bottom: 60px;
  }
  .commentAuthor {
    font-size: 12px;
  }
  .forumbox {
    background: rgba(0, 0, 0, 0.3);
    width: 70%;
    display: inline-block;
    color: #e0d2b4;
    border: 4px;
    border-style: solid;
    border-color: rgb(168, 223, 215);
    font-family: "El Messiri";
    padding: 20px;
  }

  .searchDiv {
    width: 50%;
    margin: 0 auto;
  }
  
  #forumbox2 {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: block;
    color: #e0d2b4;
    border: 4px;
    border-style: solid;
    border-color: rgb(168, 223, 215);
    font-family: "El Messiri";
    font-size: 12px;
    padding: 20px;
    margin-top: 5px;
  }
  
    .menuIcon{
      display: inline-block;
      margin-right: 8px;
  }
  
  .likes{
      font-size: 15px;
      color: #e0d2b4;
      margin-top: 40px;
  }
  
  .menuIcon{
      display: inline-block;
      margin-right: 8px;
  }
  
  .forumTimeAndAuthor
  {
      color: #e0d2b4;
      font-size: 12px;
      margin-top: 5px;
      display: 'inline-block';
  }
  
  h3{
      color: #e0d2b4;
      font-size: 18px;
      margin-top: 5px;
  }
  
  .postdiv{
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }
  
  .createpostdiv{
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  #postbtn,
  #postbtn:visited {
    background-color: #e0d2b4;
    color: #044444;
    border: #044444;
    font-family: "El Messiri";
    font-weight: bold;
    font-size: 12px;
    width: fit-content;
    float: right;
  }
  #postbtn:hover {
    background-color: #ad976a;
    color: #044444;
    border: #044444;
  }
  #postbtn:focus,
  #postbtn:focus-visible,
  #postbtn:checked {
    background-color: #e0d2b4;
    color: #044444;
    border: #044444;
  }
  
  #postbox{
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
    font-family: 'El Messiri';
    width:50%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  #postbox:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
  }
  #postbox:focus, #postbox:focus-visible, #postbox:checked {
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
  }
  
  #postdrop{
    background-color: rgba(168, 223, 215,0.9);
    font-family: 'El Messiri';
    max-height:fit-content;
    overflow:auto;
    width: 50%;
  }
  
  .commentbtn{
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
    font-family: 'El Messiri';
    width: fit-content;
    height: fit-content;
    font-size: 10px;
    display: inline;
    float: right;
    justify-content: center;
  }
  .fas, .far{
    font-size: 20px;
    letter-spacing: 10px;
  }

  #postbox{
    font-size: 12px;
  }
  
  .commentbtn:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
  }
  
  .commentbtn:focus, .commentbtn:focus-visible, .commentbtn:checked {
    background: rgba(0, 0, 0, 0.3);
    color: #e0d2b4;
    border-color: rgb(168, 223, 215);
  }
  
  .commentbox{
    display: none;
    width: 100%;
  }
  
  .fas{
    color: #00908e;
  }
  
  
  
  .posttitle{
    display: inline-block;
    font-size: 25px;
  }
  
  .input-group-text{
    background-color: inherit;
    color: #e0d2b4;
  }
}