.salahHeader{
    font-family: 'El Messiri';
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: inline;
    background-color:rgba(0,0,0,0.6);
}

thead{
    background-color: #00908E
}

tr{
    color:#E0D2B4;
}

tr:hover{
    background-color:rgb(1, 1, 1, 0.3);
}

td, th{
    width: 20%;
    text-align: center;
}

.salahdiv{
    background-color: rgb(0, 0, 0, 0.3);
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 100px;
    border-radius: 10px;
    font-family: "El Messiri";
}
/* .highlightNextWaqt {
    color:rgb(255, 255, 255);
    background-color: rgba(252, 147, 9, 0.562);
  } */
  @-webkit-keyframes nextWaqt {
    from { background-color: rgba(252, 147, 9, 0.562); }
    to { background-color: inherit; }
  }
  @-moz-keyframes nextWaqt {
    from { background-color: rgba(252, 147, 9, 0.562); }
    to { background-color: inherit; }
  }
  @-o-keyframes nextWaqt {
    from { background-color: rgba(252, 147, 9, 0.562); }
    to { background-color: inherit; }
  }
  @keyframes nextWaqt {
    from { background-color: rgba(252, 147, 9, 0.562) }
    to { background-color: inherit; }
  }
  .highlightNextWaqt {
    -webkit-animation: nextWaqt 1s infinite; /* Safari 4+ */
    -moz-animation:    nextWaqt 1s infinite; /* Fx 5+ */
    -o-animation:      nextWaqt 1s infinite; /* Opera 12+ */
    animation:         nextWaqt 1s infinite; /* IE 10+ */
  }
