.taskDate{
    font-size: 15px;
    display: block;
    margin-left: 20px;
}
.test{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'El Messiri';
    background-color: #e0d2b475;
    padding: 20px;
    color: #043b3b;
}
.test:hover {
    background-color: #e0d2b49f;
}
.MuiInputBase-input{
    font-family: 'El Messiri';
}
.taskPlanned{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    background: none;
    border: none;
    width: fit-content;
    outline: none;
    color: #043b3b;
    font-weight: bold;
}
.datePicker{
    color: #043b3b;
    margin-left: 20px;
}

#taskPlannedInput{
    background: none;
    border: none;
    width: 100%;
    outline: none;
    font-size: 20px;
    color: #e0d2b4;
}

#taskPlannedCompleteID{
    text-decoration: line-through;
    color: #043b3b8a;
}
#taskPlannedID{
    text-decoration: none;
}
